<ion-card class="card">
  <ion-card-header>
    <ion-card-title>{{word?.word}}</ion-card-title>
  </ion-card-header>
</ion-card>
<!--<div class="card" (swiperight)="onSwipeRight()" (swipeleft)="onswipeLeft()" (click)="showDetails()">-->
<!--  <h2>{{ word?.word }}</h2>-->
<!--</div>-->

<!--<div *ngIf="showInfo" class="info-modal">-->
<!--  <p><strong>Tradução:</strong> {{ word }}</p>-->
<!--  <ng-container *ngFor="let meaning of word?.meanings">-->
<!--    <p *ngFor="let definitions of meaning.definitions"><strong>Significado:</strong> {{ definitions.definition }}</p>-->
<!--  </ng-container>-->
<!--&lt;!&ndash;  <p><strong>Exemplo:</strong> {{ word?.meanings[0]?.definitions[0].example }}</p>&ndash;&gt;-->
<!--  <button (click)="closeDetails()">Fechar</button>-->
<!--</div>-->
